body {
  background-color: rgb(238, 238, 238);
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: sans-serif;
}

header {
  padding: 0.5em;
  border-color: rgb(215, 215, 215);
  border-style: solid;
  border-bottom: 1px;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tab-list {
	font-size: 12px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	height: 400px;
  background-color: #fff;
  border-color: rgb(215, 215, 215);
  border-style: solid;
  border-top: 0;
  border-bottom: 1px;
  border-right: 1px;
  border-left: 1px;
}

.search {
  top: 10px;
  width: 300px;
  text-indent: 16px;
}

.tab-favicon {
  width: 20px;
}

.input-svg > object {
	width: 16px;
	position: absolute;
	left: 25px;
	top: 14px;
}

.tab-object {
	display: flex;
	/*flex-wrap: nowrap;*/
	align-items: center;
	justify-content: center;
	width: 20rem;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

.tab-object > img {
  height: 2rem;
  max-width: 100%;
  max-height: 100%;
  margin-right: 1rem;
  margin-left: 1rem;
}

.no-result {
	display: flex;
	flex-direction: column;
	align-items: center;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
	padding-top: 1em;
	padding-bottom: 1em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tab-object > .tab-info {
  flex: 1;
}

.tab-info {
  font-family: sans-serif;
  font-size: 0.7rem;
}

.tab-info > p {
  width: 225px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-info > strong {
  padding-right: 0.5em;
}

.tab-object:focus {
  background-color: #086DD6;
  color: white;
}

p {
  margin: 0;
}

.delete-circle {
	position: absolute;
	max-width: 16px;
	top: 14px;
	right: 26px;
}
