html, body {
  width: auto;
  max-width: 500px;
}

.tab-list {
  font-family: sans-serif;
  font-size: 12px;
}

.search {
  width: auto;
}

.tab-link {
  display: block;
  cursor: pointer;
}

.tab-link:focus {
  background-color: blue;
  color: white;
}
