/* http://clrs.cc/ */
:root {
  --lightblue: var(--blue-40);
  --whitesmokeBorder: var(--grey-30);
  --whitesmoke: var(--grey-10);
  --bgColor: var(--whitesmoke);
  --searchBarFocusColor:  var(--lightblue);
  --blue: var(--blue-60);
  --tabFocusColor: var(--blue);
  --red: var(--red-60);
  --navy: var(--ink-70);
  --yellow: var(--yellow-50);
  --purple: var(--purple-70);
  --headerHeight: 48px;
  --bodyWidth: 355px;
}

body {
  border: 1px solid var(--grey-30);
  background-color: var(--whitesmoke);
  font-family: 'Inter UI', sans-serif;
  width: var(--bodyWidth);
}


input[type="search"] {
  color: var(--grey-90);
  line-height: 2em;
  width: 300px;
  margin: auto;
}

header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  height: var(--headerHeight);
  width: 355px;
  box-sizing: border-box;
  border-bottom: 1px;
  border-style: solid;
  border-color: var(--whitesmokeBorder);
}

#pref-btn {
  color: var(--grey-50);
  text-decoration: none;
  font-size: 1rem;
}

.search-form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tab-list {
  box-sizing: border-box;
  font-size: 12px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 450px;
  background-color: #fff;
  border-color: var(--whitesmokeBorder);
  border-style: solid;
  border-bottom: 1px;
  border-left: 1px;
  border-top: 1px;
}

.search {
  top: 10px;
  height: 32px;
  width: 300px;
  padding-left: 8px;
  padding-right: 24px;
  line-height: 32px;
  text-indent: 20px;
  font-size: 12px;
  background-image: url('/assets/search.svg');
  background-repeat: no-repeat;
  background-position-x: 8px;
  background-position-y: center;
  background-size: 16px 16px;
  border: 1.5px solid rgb(210, 210, 210);;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
  outline: none;
  font-family: "Inter UI";
}

.search:focus {
  border-color: var(--blue-50);
  box-shadow: 2px var(--searchBarFocusColor);
}

.tab-favicon {
  width: 20px;
}

.tab-object {
  color: var(--grey-90);
  display: flex;
	align-items: center;
	justify-content: center;
	width: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 3rem;
  cursor: pointer;
  /* For chrome to prevent box shrinking */
  flex-shrink: 0;
}

.tab-object:focus {
  outline: 1px dotted black;
}

.tab-object--selected,
.tab-object:hover,
.tab-object:focus {
  background-color: var(--tabFocusColor);
  color: white;
}

.tab-img {
  height: 2rem;
  width: 4rem;
}

.tab-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 2rem;
  width: 2rem;
}

/* Positioning for tab status indicators */
/*
Negative margins set to the height/width of relative positioned element
removes the extra space added by the pseudoelement
*/
.tab-object.mute.pin > .tab-img:before {
  background : url('../assets/pin.svg'), url('../assets/volume-x.svg');
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
  height: 32px;
  margin-top: -32px;
  top: 24px;
}

.tab-object.mute > .tab-img:before {
  background: url('../assets/volume-x.svg');
}

/* .tab-object > .tab-img:before, */
.tab-object.pin > .tab-img:before {
  background: url('../assets/pin.svg');
}

/* Shared tab status styling */
.tab-object.pin > .tab-img:before,
.tab-object.mute > .tab-img:before {
  position: relative;
  top: 12px;
  left: 2.66rem;
  width: 16px;
  margin-right: -16px;
  height: 16px;
  margin-top: -16px;
  display: block;
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
}

.tab-object:hover .tab-object__delete-button:hover {
  filter: grayscale(20%);
}

.tab-object:hover .tab-object__delete-button {
  visibility: visible;
}

.tab-object .tab-object__delete-button {
  position: relative;
  visibility: hidden;
  margin-right: -16px;
  transform: translateX(calc(0.9 * var(--bodyWidth) - 8px));
}

.no-result {
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 20rem;
	padding: 1rem 0.5rem;
}

.no-result__circle {
  height: 50px;
  margin-bottom: 0.8rem;
}

.no-result__msg {
  font-size: 1rem;
}

.tab-object > .tab-info {
  flex: 1;
}

.tab-title {
  line-height: 1.2;
  margin-bottom: 0.25em;
  font-size: 1.1em;
  font-weight: 500;
}

.wordbreak-all {
  word-break: break-all;
}

.tab-info {
  font-size: 0.7rem;
}

.tab-info > p {
  width: 225px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-info > strong {
  padding-right: 0.5em;
}

p {
  margin: 0;
}

.tab-object__delete-button,
.delete-circle {
  height: 16px;
  cursor: pointer;
}

.delete-circle {
  position: absolute;
  transform: translateY(8px) translateX(-22px);
}

.hidden {
  visibility: hidden;
}


/* tablist types */
.tab {
  border-left: 5px var(--blue) solid;
}

.session {
  border-left: 5px var(--red) solid;
}

.other-window-tab {
  border-left: 5px var(--yellow) solid;
}

.bookmark {
  border-left: 5px var(--navy) solid;
}

.history {
  border-left: 5px var(--purple) solid;
}
