body {
  background-color: rgb(238, 238, 238);
  font-family: 'Inter UI', sans-serif;
}


input[type="search"] {
  line-height: 2em;
}

header {
  padding: 0.5em;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tab-list {
  font-size: 12px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 400px;
  background-color: #fff;
  border-color: rgb(215, 215, 215);
  border-style: solid;
  border-bottom: 1px;
  border-right: 1px;
  border-left: 1px;
  border-top: 1px;
  border-top-color: rgb(51, 51, 51);
}

.search {
  /* box-sizing: border-box; */
  top: 10px;
  width: 300px;
  text-indent: 20px;
  font-size: 12px;
  background-image: url('/assets/search.svg');
  background-repeat: no-repeat;
  /* background-position: left center; */
  background-position-x: 3px;
  background-position-y: center;
  background-size: 16px 16px;
  border: 1px solid rgb(210, 210, 210);;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
  outline: none;
  font-family: "Inter UI";
}

.search:focus {
  border-color: #399cfc;
  box-shadow: 2px #399cfc;
}

.tab-favicon {
  width: 20px;
}

.tab-object {
  display: flex;
	align-items: center;
	justify-content: center;
	width: 20rem;
	padding: 1rem 0.5rem;
  cursor: pointer;
  /* For chrome to prevent box shrinking */
  flex-shrink: 0;
}

.tab-object:focus {
  outline: 1px dotted black;
}

.tab-object:hover,
.tab-object:focus {
  /*box-sizing: border-box;*/
  background-color: #086DD6;
  color: white;
}

.tab-object > img {
  height: 2rem;
  max-width: 100%;
  max-height: 100%;
  margin-right: 1rem;
  margin-left: 0.70rem;
}

.no-result {
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 20rem;
	padding: 1rem 0.5rem;
}

.no-result__circle {
  height: 50px;
  margin-bottom: 0.8rem;
}

.no-result__msg {
  font-size: 1rem;
}

.tab-object > .tab-info {
  flex: 1;
}

.tab-title {
  line-height: 1.2;
  margin-bottom: 0.25em;
  font-size: 1.1em;
  font-weight: 500;
}

.wordbreak-all {
  word-break: break-all;
}

.tab-info {
  font-size: 0.7rem;
}

.tab-info > p {
  width: 225px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-info > strong {
  padding-right: 0.5em;
}

p {
  margin: 0;
}

.delete-circle {
  position: absolute;
	max-width: 16px;
	top: 14px;
	right: 31px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.tab {
  border-left: 5px #3498db   solid;
}

.session {
  border-left: 5px #cd6155  solid;
}

.other-window-tab {
  border-left: 5px #f4d03f    solid;
}
